<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Golf Courses'}) %>
    <link rel="stylesheet" href="/styles/courseIndex.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="globalNav">
        <%- include('./partials/globalNav.ejs') %>
    </div>

    <div class="nav">
        <%- include('./partials/nav.ejs') %>
    </div>

    <main>
        <section class="listings">
            <h1>Reviews</h1>
            <ul>
                <% for (let review of reviews) { %>
                <li>
                    <figure>
                        <figcaption>
                            <h4><%= review.name %></h4>
                            <p class="locations"><%= review.title %></p>
                            <p>From $<%= review.rating %> (USD)</p>
                            <a href="/reviews/<%= review._id %>">Read More</a>
                        </figcaption>
                    </figure>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>