<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Golf Courses'}) %>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="globalNav">
        <%- include('./partials/globalNav.ejs') %>
    </div>

    <div class="nav">
        <%- include('./partials/nav.ejs') %>
    </div>

    <main>
        <section class="hero">
            <h2>Find A golf course to play</h2>
            <a href="/courses" class="btn">Find Now</a>
        </section>

        <section class="about">
            <h2>About Us</h2>
            <p> This app is designed to help you find the perfect course to play near you! Whether you have been playing for a while or have just started playing
                we will help you find a course that makes playing more fun based on your skill level.
            </p>
            <a href="/about" class="btn">Learn More</a>
        </section>

        <section class="featured-courses">
            <h2>Featured Courses</h2>
            <ul class="course-grid">
                <% for (let course of courses) { %>
                <li>
                    <figure>
                        <img src="<%= course.photo %>" alt="featuredCourses">
                    </figure>
                    <figcaption>
                        <div class="featured-info">
                            <h3><%= course.name %></h3>
                            <p>From: $<%= course.price %></p>
                        </div>
                        <a href="/courses/<%= course._id %>" class="btn"></a>
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
