<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Create an Course | Golf Courses'}) %>
    <link rel="stylesheet" href="/styles/courseForm.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="hero">
        <h2>Course Creation</h2>
        <h4><i>You're about to create <a href="/courses/<%= course._id %>"><%= course.name %></a></i></h4>
    </section>

    <form action="/creations/create/<%= course._id %>" method="POST">
        <label for="golferName">Creator Name:</label><br>
        <input type="text" id="golferName" name="golferName" required><br>

        <label for="golferEmail">Creator Email:</label><br>
        <input type="email" id="golferEmail" name="golferEmail" required><br>

        <label for="golferPhone">Creator Phone:</label><br>
        <input type="tel" id="golferPhone" name="golferPhone" required><br>

        <label for="reasonForCreation">Reason for Creation:</label><br>
        <textarea id="reasonForCreation" name="reasonForCreation" required></textarea><br>

        <label for="ownedCreations">Number of Created Courses:</label><br>
        <input type="number" id="ownedCreations" name="ownedCreations" min="0" value="0"><br>

        <input type="submit" value="Submit">
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
