<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'My Creations | Golf Courses'}) %>
    <link rel="stylesheet" href="/styles/courseIndex.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main>
        <section class="listings">
            <ul>
                <% for (let review of reviews) { %>
                <li>
                    <h4><%= review.reviewerName %> - <%= review.reviewerEmail %></h4>
                    <p>Created: <%= review.reviewDate %></p>
                    <a href="/reviews/<%= review._id %>">Read More</a>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
